body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
    border: none;
    margin: 0;
    padding: 0;

}
/* PARTE 1*/

#section_1_cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 10px;
    width:auto;
    height:auto;
}

.imagenes_cabecera {
    width: 50%;
    overflow: visible;

}

.contenido_cabecera {

    width: 50%;
    display: grid;
    grid-template-columns: repeat( 2 , 50%);
    grid-template-rows: repeat( 4 , 250px);
    grid-template-areas: 
        "header header"
        "left_up rigth_up"
        "left_down rigth_down"
        "button_foot button_foot"
;

}

.introduccion {
grid-area: header;
}

.elementos_cabecera_1 {
grid-area: left_up;
}

.elementos_cabecera_2 {
grid-area: left_down;
}

.elementos_cabecera_3 {
grid-area: rigth_up;
}

.elementos_cabecera_4 {
grid-area: rigth_down;
            
}

.button_matriculate {
    padding: 10px 20px;
    font-size: 16px; 
    width: auto;
    text-align: center;
    background-color: #C43632 ;
    color: white; 
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #b64f4b;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    grid-area: button_foot;
    justify-self: stretch;
    align-self: center;
}

.mat_but:hover {
    box-shadow: inset 0 0 0 50px white;
    color: #C43632;
}


/* PARTE 2 y 3*/ 

#section_2_viaje{
    background:#F9CC54;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#indicaciones {
    background: white
}

.texto {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
}

.imagen {
    max-width: 90%;

    
}

.container {

    margin-inline: auto;
    max-width: 960px;
    width: 100%;
    padding-inline: 16px;
}

.columnas {
    display: flex;
    gap: 20px;
}

.grid_3_columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


/*Parte 4*/

#section_4_requisitos_beneficios {
    background-color: #C43632;
    flex-direction: column;

}
 
.titulo_section_4 {
    text-align: center;
    color: aliceblue;
}

.nombre_logos {
    color: aliceblue;
    text-align: center;
}

.titulo_requisitos {
    color: #C43632;
    text-align: center;

}

.contenido_requisito {
    text-align: center;
}

.logos {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.videos {
    flex-direction: column;
}

.articulo_re_inv {
    flex: 1;
} 

.articulo_re_dur {
    flex: 1;
}

.articulo_re_mat {
    flex: 1;
}

.articulo_re_acre {
    flex: 1;
}

.requisitos {
    display: flex;
    gap: 30px;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.boton_4 {
    padding: 10px 20px;
    font-size: 16px; 
    width:-webkit-fill-available;
    text-align: center;
    background-color: #F9CC54;
    color: white; 
    cursor: pointer;
    color: #C43632;
    border: 2px solid black;
    border-radius: 0px;
    display: inline-block;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 #F9CC54;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
 
}

.inferior_4:hover{
    box-shadow: inset 0 0 0 50px white;
}


.bot_inf_black {
    color: black;
}


/*Parte 5*/

#section_5_pasos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(33, 33, 33);
    height:auto;
}

.img_section_5 {
    width: auto;
    height: 750px;
    background-size: cover;
}

.pasos_viaje { 
    width: 50%;
    display: grid;
    grid-template-columns: repeat( 4, 1fr) ;
    grid-auto-rows: min-content;
    grid-template-areas: 
    "header header header header"
    "first first second second"
    "third third fourth fourth"
    "logo message message message"
    ". button button .";
    
}

.num_pasos {
    border-radius: 100%;
    background-color: #f1edec;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;

}

.head_5 {
    width: auto;
    height: auto;
    grid-area: header;
    color: #f1edec;
}

.primero {
    grid-area: first;
    color: #f1edec
}

.segundo {
    grid-area: second;
    color: #f1edec
}

.tercero {
    grid-area: third;
    color: #f1edec
}

.cuarto {
    grid-area: fourth;
    color: #f1edec
}

.liston_logo {
    grid-area: logo;
    color: #f1edec
}

.mensaje_premio {
    grid-area: message;
    color: #f1edec
}

.boton_aventura {
    grid-area: button;
    color: #FFF;
    border: 2px solid white;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-align: center;
}

.aven_but:hover {
    box-shadow: inset 0 0 0 50px #F9CC54;
}


.num_sub {
    color: #F9CC54;
}


/*Parte 6*/

#section_6_sabiduria {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;
}

.foto_kawai {
    width: auto;
    height: 600px;
    padding: 30px;
    background-color: #ff5d01;
    margin: 10px;
}

.descripcion_img {
    margin: 0%;
    text-align: center;
}


.introduccion_tematicas {
    height: 600px;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "titulo titulo"
    "parrafo parrafo"
    "uno seis"
    "dos siete"
    "tres ocho"
    "cuatro nueve"
    "cinco diez";
}

.titulo_sabiduria {
    grid-area: titulo;
    color: #ff5d01;
}

.parrafo_sabiduria {
    grid-area: parrafo;
}

.list_1 {
    grid-area: uno;
}

.list_2 {
    grid-area: dos;
}

.list_3 {
    grid-area: tres;
}

.list_4{
    grid-area: cuatro;
}

.list_5{
    grid-area: cinco;
}

.list_6{
    grid-area: seis;
}

.list_7{
    grid-area: siete;
}

.list_8{
    grid-area: ocho;
}

.list_9{
    grid-area: nueve;
}

.list_10{
    grid-area: diez;
}


/*Parte 7*/

#section_7_ofrecimiento {
    background-color: #F9CC54;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
}

.ofrece_cuadro{
    display: grid;
    grid-template-columns: [colum1] 75% [colum2] 25%;
    grid-template-rows: [row1] 20% [row2] 80%;
    grid-template-areas: 
        "encabezado encabezado"
        "contenido caja";
}


.titulo_rojo{
    color: #C43632;
    grid-area: encabezado;
}

.viaje_ofrece{
    grid-area: contenido;
    text-align: justify;
    padding-right: 20px;
}

.caja_roja{
    color: #f1edec;
    grid-area: caja;
    background-color: #C43632;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.boton_ofrecimiento {
    align-self: center;
    width: 50%;
    grid-area: button;
    color: black;
    border: 2px solid black;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-align: center;
}

.ofrec_but:hover {
    box-shadow: inset 0 0 0 50px #C43632;
}



/*Parte 8*/

#section_8_equipo {

    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;

}

.imagen_heroe {
    background-color: #C43632;
    padding: 20px;
}

.ruta_autoaprendizaje {
    
}

.titulo_ruta {
    color: #C43632;
}



/*Parte 9*/

#section_9_matriculate {
    background-color: #C43632;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: solid black;
    border-bottom: solid black;
}

.grid_matri {
    display: flex;
    flex-direction: row;
}

.mensaje_promocional {
    color: #f1edec;
    padding: 20px;
    text-align: justify;
}

.img_matri{
    height: 200px;
    width: 200px;
}

.matriculate_2{

    grid-area: button;
    color: white;
    border: 2px solid black;
    border-radius: 0px;
    padding: 18px 120px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-align: center;
    align-self: center;
    
}

.matri_boton:hover {
    color: #000;
    box-shadow: inset 0 0 0 50px white;
}


/*Parte 10*/

#section_10_patrocinadores {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    
}

/*Parte 11*/




