body {
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    
}

#viaje {
    background: rgb(249, 204, 84);
    width: 100%;
}

#indicaciones {
    background: white
}

.texto {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
}

.imagen {
    max-width: 90%;
    display: ;
    
}



.container {

    margin-inline: auto;
    max-width: 960px;
    width: 100%;
    padding-inline: 16px;
}

.columnas {
    display: flex;
    gap: 20px;
}

.grid_3_columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

