body {
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
    border: none;
    margin: 0;
    padding: 0;

}
/* PARTE 1*/

#section_1_cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 10px;
}

.imagenes_cabecera {
width: 50%;
overflow: hidden;

}

.contenido_cabecera {

width: 50%;
display: grid;
grid-template-columns: repeat( 2 , 50%);
grid-template-rows: repeat( 5 , 20%);

}

.introduccion {
grid-area: header;
}

.elementos_cabecera_1 {
grid-area: left_up;
}

.elementos_cabecera_2 {
grid-area: left_down;
}

.elementos_cabecera_3 {
grid-area: rigth_up;
}

.elementos_cabecera_4 {
grid-area: rigth_down;
            
}

.boton {


}



.boton button {
    padding: 10px 20px;
    font-size: 16px; 
    color: white; 
    background-color: red; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    height: 10%;
    width: 100%;
}
/* PARTE 2*/ 

#viaje {
    background:yellow;
    width: 100%;
}

#indicaciones {
    background: white
}

.texto {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
}

.imagen {
    max-width: 90%;
    display: ;
    
}

.container {

    margin-inline: auto;
    max-width: 960px;
    width: 100%;
    padding-inline: 16px;
}

.columnas {
    display: flex;
    gap: 20px;
}

.grid_3_columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
/*Parte 3*/

/*Parte 4*/

/*Parte 5*/

/*Parte 6*/

/*Parte 7*/

/*Parte 8*/

/*Parte 9*/

/*Parte 10*/

/*Parte 11*/


